.contactSection {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.contactBlockWhatsApp,
.contactBlockMail {
    width: 40%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    text-decoration: none;
}

.contactBlockWhatsApp {
    border: solid var(--green) 1px;
}

.contactBlockMail {
    color: var(--orange);
    border: solid var(--orange) 1px;
}

.contactButtonText {
    display: none;
}

@media (min-width: 800px) {
    .contactButtonText {
        display: initial;
        color: #000000;
        padding: 0 1rem;
    }
}