:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --brown: #c75d08;
  --orange: #fc8f02;
  --lightOrange: #fbbe03;
  --beige: #fbdf89;
  --darkgreen: #1c2a06;
  --green: #2a5808;
  --neongreen: #3bf600;
  --fade: #0707073a;
  --grey: #3e3e3e;
}

body {
  margin: 0;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  color: #000000;
}

