.faqBlock {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.faqRow {
    width: 90%;
    border-bottom: #3e3e3e solid 1px;
}

.faqRow:last-child {
    border: none;
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 1rem;
}

.answerWrapper {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    background: #eeeeee;
}

.hidden {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.2s ease;
}

.answerInner {
    padding: 0 1rem 1rem 1rem;
    font-size: 0.875rem;
}

.faqChevIcon {
    transition: transform 0.3s ease;
}

.hiddenIcon {
    display: none;
}

@media (min-width: 420px) {
    .faqQuestion {
        font-size: 1.0625rem;
    }

    .answerInner {
        font-size: 0.9375rem;
    }
}

@media (min-width: 600px) {
    .faqQuestion {
        font-size: 1.125rem;
    }

    .answerInner {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .faqQuestion {
        font-size: 1.25rem;
    }

    .answerInner {
        font-size: 1.0625rem;
    }
}

@media (min-width: 1400px) {
    .faqQuestion {
        font-size: 1.375rem;
    }

    .answerInner {
        font-size: 1.125rem;
    }
}