.homeFleetSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeFleetHeading {
    width: 90%;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0;
}

.homeFleetText {
    text-align: center;
    width: 90%;
    font-size: 0.875rem;
    margin-top: 0;
}

.homeFleetImgRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: var(--darkgreen);
}

.homeFleetImgBlock {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeFleetImg {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 420px) {
    .homeFleetHeading {
        font-size: 1.5rem;
    }
    
    .homeFleetText {
        font-size: 0.9375rem;
    }
}

@media (min-width: 600px) {
    .homeFleetHeading {
        font-size: 1.75rem;
    }
    
    .homeFleetText {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .homeFleetHeading {
        text-align: left;
        font-size: 2rem;
    }
    
    .homeFleetText {
        text-align: left;
        font-size: 1.0625rem;
    }
}

@media (min-width: 1400px) {
    .homeFleetHeading {
        font-size: 2.25rem;
    }
    
    .homeFleetText {
        font-size: 1.125rem;
    }

    .homeFleetImgRow {
        padding: 2rem 0;
    }
}