.valuesSection {
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.valueContentBlock {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valuesHeading {
    width: 90%;
    font-size: 2.5rem;
}

.valuesList {
    width: 90%;
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
}

.valueImageBlock {
    width: 45%;
    height: 300px;
}

.valueImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.valuesParagraph {
    width: 90%;
    padding: 2rem 0;
    font-size: 1.8rem;
}

@media (max-width: 1024px) {
    .valueImageBlock {
        height: 450px;
    }
}

@media (max-width: 800px) {
    .valuesHeading {
        font-size: 2rem;
    }
    
    .valuesList {
        font-size: 1.4rem;
    }
    
    .valuesParagraph {
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    .valuesHeading {
        font-size: 2rem;
    }
    
    .valuesList {
        font-size: 1.4rem;
    }
    
    .valuesParagraph {
        font-size: 1.6rem;
    }
}

@media (max-width: 420px) {
    .valueContentBlock {
        order: 2;
        width: 100%;
        text-align: center;
    }
    
    .valuesHeading {
        width: 90%;
        font-size: 1.8rem;
    }
    
    .valuesList {
        font-size: 1.2rem;
    }
    
    .valueImageBlock {
        order: 1;
        width: 100%;
        height: 200px;
    }
    
    .valuesParagraph {
        order: 3;
        font-size: 1rem;
    }
}